{% extends 'global/extend/index.html' %}
{% block title %}discussão - {{topic.topic_title}}{% endblock title %}
{% block content %}
    <div>
        <div class="topic-title-main-container">
            <div>
                <h1>
                    {{topic.topic_title}}
                </h1>
            </div>
            <blockquote>
                Discussão em 
                <a href="{% url 'forum:session' session_id=topic.topic_session_id %}">{{topic.topic_session.session_title}}</a>
                iniciado por 
                {% if topic.topic_user %}
                <a href="{% url 'account:dashboard_view' name=topic.topic_user.username id=topic.topic_user_id %}">
                    {{topic.topic_user.username}}</a>
                {% else %}
                    <b>usuário_excluído</b>
                {% endif %}, em {{topic.topic_timestamp_create|date:"d \d\e F \d\e Y à\s H:i:s"}}
            </blockquote>
            <div>
                {% include 'global/include/pagination.html' %}
            </div>
        </div>
        <div class="topic-comment-section-container">
            {% include 'global/include/topics.html' %}
            {% if pagination.0 %}
                Comentários: <hr>
            {% endif %}
            {% include 'global/include/replies.html' %}
        </div>
        <div>
            {% include 'global/include/pagination.html' %}
        </div>
        {% include 'global/include/reply.html' %}
    </div>
    {% comment %} {% include 'global/include/reply-delete-confirmation.html' %} {% endcomment %}
{% endblock content %}