<nav class="dashboard-nav-bar">
    <ul class="dashboard-nav-boxes">
        <li>
            <div class="dashboard-nav-profile-buttons js-button-highlight-on" id="dashboard-nav-button-a">
                <button title="Início" id="dashboard-button-a">
                    <i class="fa-solid fa-house"></i>
                </button>
            </div>
        </li>
        <li>
            <div class="dashboard-nav-profile-buttons js-button-highlight-off" id="dashboard-nav-button-b">
                <button title="Meus dados" id="dashboard-button-b">
                    <i class="fa-solid fa-address-card"></i>
                </button>
            </div>
        </li>
        <li>
            <div class="dashboard-nav-profile-buttons js-button-highlight-off" id="dashboard-nav-button-c">
                <button title="Meus comentários" id="dashboard-button-c">
                    <i class="fa-solid fa-comments"></i>
                </button>
            </div>
        </li>
    </ul>
</nav>