<div>
    <div class="footer-upper-container">
        <div class="footer-centralized-box-container">
            <ul class="footer-upper-ul-style">
                <li>
                    <a href="/" title="Entre em contato">
                        <i class="fa-solid fa-envelope"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" title="Instagram">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank" title="Twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank" title="YouTube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="https://br.linkedin.com/" target="_blank" title="LinkedIn">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-lower-container">
        <div class="footer-centralized-box-container">
            <div class="footer-lower-style">
                <span>
                    Criado por <strong>Ciro Torres</strong>. Powered by <b>Django</b>.
                </span>
            </div>
        </div>
    </div>
</div>