{% if request.user.is_authenticated %}
    <button>Comentar</button>
    <div>
        <div>
            <form action="{% url 'forum:reply' session_id=topic.topic_session_id topic_id=topic.id %}" method="POST">
                {% csrf_token %}
                <div class="topic-comment-section-textarea">
                    {% for text_area in reply_form %}
                        {{text_area}}
                        {{text_area.error_message}}
                    {% endfor %}
                </div>
                <input type="hidden" name="num_elem_on_page" value="{{pagination.6}}">
                <div class="topic-comment-section-button-confirm">
                    <button type="submit" name="url_dispatcher" value={{pagination.4}}>Enviar</button>
                </div>
            </form>
        </div>
    </div>
{% endif %}