<div class="reply-delete-outer-container">
    <div class="reply-delete-middle-container">
        <div class="reply-delete-inner-container">
            <span>Você tem certeza de que gostaria de <b>DELETAR</b> este comentário? Essa é uma operação sem volta!</span>
            <ul class="reply-delete-ul">
                <li class="reply-delete-li"><a href="">Sim</a></li>
                <li class="reply-delete-li"><a href="">Não</a></li>
            </ul>
        </div>
    </div>
</div>